@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Cedarville+Cursive&family=Irish+Grover&family=Poppins:wght@300&family=Roboto&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.body{
  margin-top: 20vh
}
.body h1 {
  width: 25%;
  text-align: center;
  position: relative;
  left: 73%;
  top: 50%;
  font-weight: bolder;
  font-family: cursive;
  font-family: "amita";
  color: white;
}

.body button {
  position: relative;
  left: 78%;
  top: 50%;
  font-weight: bolder;
  font-family: cursive;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  backdrop-filter: blur(60px);
  padding: 10px 10px;
  width: 150px;
  transition: transform 0.3s ease-out;
  cursor: pointer;

}

.body button:hover {
  transform: scale(1.1);
}

.BodyFooter {
  text-align: center;
}
.Add{
  background-image: url("../../Assets/Group6.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 4vh;
}

.mid_home {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 40px;
}

.Mid_home_products {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 40px;
  margin-top: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}


.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-description {
  margin-top: 10px;
  font-size: 14px;
}
.Products_persons {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 40px;
}

.Modern_Products {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 40px;
  margin-top: 50px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}
.newArrivals{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 8vh;

}
.Products {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 400px;
  flex: 0 0 auto;
  scroll-snap-align: start;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  position: relative; 
}

.ImageContainer {
  position: relative; 
}

.Products img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.Overlay {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 94%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
  padding: 10px; 
}
.Overlay p {
  margin: 0;
}
.Overlay button{
  width: 70%;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0,0.4); 
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 400px) {
  .mid_home {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-top: -5vh;
  }
  
  .Mid_home_products {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
    width: 150px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
  }
  
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card-description {
    font-size: 9px;
  }
  .Products_persons {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 40px;
  }
  
  .products_catagory {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
  }
  
  .products_catagory img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .Add{
    background-image: url("../../Assets/Group6.png");
    height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .Modern_Products {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
    margin-top: 50px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
  }
  
  .Products {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 200px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    position: relative; 
  }
  
  .ImageContainer {
    position: relative; 
  }
  
  .Products img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  
  .Overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 84%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 10px;
    height: 30%;
    font-size: .4rem;
  }
  .Overlay p {
    margin: 0;
  }
  .Overlay button{
    width: 70%;
    padding: 3px 3px;
    background-color: rgba(0, 0, 0,0.4); 
    color: white;
    font-size: .4rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  .newArrivals{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 2vh;
  }
}
