* {
    padding: 0;
    margin: 0;
}
.Productspage{
    display: flex;
    justify-content: space-between;
}
input{
    accent-color: #A21434;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
}
label{
    cursor: pointer;
}
.sidebar p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    background-color: #A21434;
    padding: 8px;
    color: wheat;
    width: 100%;
    text-align: center;
}
.sidebar {
    height: 100%;
    width: 100%;
}
  

.states ,.prodctscatogory{
    width: 100%;
    padding-left: 20px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    width: 85%;
    margin-top: 25vh;
    margin-left: 50px;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.33% - 20px); /* Adjust based on the number of columns you want */
    max-width: 300px; /* Limit maximum width */
}

.product-card hr {
    position: relative;
    height: 10px;
    background-color: #A21434;
}

.product-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-title {
    margin: 0;
    font-size: 1.2rem;
}

.product-description {
    margin: 5px 0;
    color: #555;
}

.product-price {
    margin: 5px 0;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .products {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
        width: 95%;
        margin-left: 10px;
    }
    .product-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 160px;
    }
    .product-image {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    
    .product-details {
        padding: 15px;
    }
    
    .product-description {
        margin: 5px 0;
        color: #555;
        font-size: 0.9rem;
    }
    .product-price {
        margin: 5px 0;
        font-weight: bold;
    }
}
