@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Cedarville+Cursive&family=Irish+Grover&family=Poppins:wght@300&family=Roboto&family=Tilt+Prism&display=swap');


.Routes{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
    height: 70px;
    /* color: black; */
}
.Logo h3{
    font-family: "Amita";
}
.Routes h3{
    text-decoration: none;
    color: black;
}
.CartBoxes{
    display: flex;
    /* justify-content: space-between; */
    gap: 25px;
    width: 10vw;
    align-items: center;
}
.CartBoxes img{
    width: 20px;
}
.Logo{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    align-items: center;
}
.Logo img{
    width: 70px;
    margin-top: 10px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}
/*
Footer.css
*/
.Itemsoptions{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}
.Itemsoptions a{
    text-decoration: none;
    color: Black;


}
.Itemsoptions a:hover {
    color: blueviolet;
}
.Footer{
    display: flex;
    justify-content: space-between;
}
.termsandconditions{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
