@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Cedarville+Cursive&family=Irish+Grover&family=Poppins:wght@300&family=Roboto&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top_quote {
    padding: 15px 15px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.Routes {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
    height: 50px;
    /* color: black; */
}

.Logo h3 {
    font-family: "Amita";
}

.Routes h3 {
    text-decoration: none;
    color: black;
}

.CartBoxes {
    display: flex;
    gap: 25px;
    width: 20vw;
    align-items: center;
    height: 50px;

}

.CartBoxes p {
    border: 2px solid #F5DDB0;
    color: #F5DDB0;
    padding: 10px 10px;
    width: 40%;
    text-align: center;
}

.CartBoxes img {
    width: 20px;
}

.Logo {
    display: flex;
    gap: 10px;
    width: 20vw;
    align-items: center;
    color: wheat;
}

.Logo img {
    width: 75px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #A21434;
    width: 98.9vw;
    height: 5vw;
}

/*
Footer.css
*/
.Itemsoptions {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

.Itemsoptions a {
    text-decoration: none;
    color: Black;


}

.Itemsoptions a:hover {
    color: blueviolet;
}

.Footer {
    display: flex;
    justify-content: space-between;
}

.termsandconditions {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}