@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Cedarville+Cursive&family=Irish+Grover&family=Poppins:wght@300&family=Roboto&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top_quote {
    padding: 15px 15px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.Routes {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
    height: 50px;
    /* color: black; */
}

.Logo h3 {
    font-family: "Amita";
}

.Routes h3 {
    text-decoration: none;
    color: black;
}

.CartBoxes {
    display: flex;
    gap: 25px;
    width: 20vw;
    align-items: center;
    height: 50px;

}

.CartBoxes p {
    border: 2px solid #F5DDB0;
    color: #F5DDB0;
    padding: 10px 10px;
    width: 40%;
    text-align: center;
}

.CartBoxes img {
    width: 20px;
}

.Logo {
    display: flex;
    gap: 10px;
    width: 20vw;
    align-items: center;
    color: wheat;
}

.Logo img {
    width: 75px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #A21434;
    width: 98.9vw;
    height: 5vw;
}

/*
Footer.css
*/
/* Footer Styles */

.footer {
    background-color: rgb(242, 227, 201);
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    position: relative;
    top: 30px;

}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__section {
    /* flex: 1 1 300px;  */
    width: 20%;
}

.footer__section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer__section ul {
    list-style-type: none;
    padding: 0;
}

.footer__section ul li {
    margin-bottom: 8px;
}

.footer__section ul li a {
    text-decoration: none;
    color: #333;
}

.footer__bottom {
    margin-top: 20px;
    text-align: center;
}

.footer__bottom p,
.footer__bottom ul {
    margin: 0;
    padding: 0;
}

.footer__bottom ul {
    list-style-type: none;
    margin-top: 10px;
}

.footer__bottom ul li {
    display: inline;
    margin-right: 10px;
}

.footer__bottom ul li:last-child {
    margin-right: 0;
}
